body{
    font-family: Arial, sans-serif;
    background-color: #d8e7f6;
    text-align: center;
}

h1,h2{
    color:#333;
}

table{
    margin:auto;
    border-collapse: collapse;
    width:70%;
    background:white;
}

th{
    background-color:#f59520;
    color:white;
}

th,td{
    padding:10px;
    border:1px solid #ddd;
}

tr:hover{
    background-color:#f1f1f1;
}

button{
    background-color:#4CAF50;
    color:white;
    border:none;
    padding:6px 12px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background-color:#45a049;
}

a{
    text-decoration:none;
    color:#564caf;
    font-weight:bold;
    margin:10px;
}

form{
    margin-top:20px;
}